<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!--
		- Location of the XML file that defines the root application context.
		- Applied by ContextLoaderServlet. - - Can be set to different xml
		files - for different implementations
	-->
	<!--
		filter> <filter-name>authentication</filter-name>
		<filter-class>com.google.ie.web.filter.AuthenticationFilter</filter-class>
		<init-param> <param-name>accessToken</param-name>
		<param-value>Incubator25</param-value> </init-param> <init-param>
		<param-name>exclusionURLs</param-name>
		<param-value>audits/save,indexer/index,indexer/indexentity,mail/joinProject,mail/singleMail,tags/incrementweight,tags/decrementweight,objectionable/check,objectionable/worker,users/register-mail,users/authenticate</param-value>
		</init-param> </filter>
	-->

	<listener>
		<listener-class>com.google.step2.servlet.GuiceServletContextListener</listener-class>
	</listener>

	<!-- configuration -->
	<!--
		If you have your own Guice module(s), put them here as a
		comma-separated list.
	-->
	<context-param>
		<param-name>guice-modules</param-name>
		<param-value>
      com.google.ie.common.openid.GuiceModule
    </param-value>
	</context-param>



	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<!--
		- Loads the root application context of this web app at startup, - by
		default from "/WEB-INF/applicationContext.xml".
	-->
	<!--
		filter-mapping> <filter-name>authentication</filter-name>
		<url-pattern>/*</url-pattern> </filter-mapping>
	-->
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.google.ie.web.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckAuth</servlet-name>
		<servlet-class>com.google.ie.web.servlet.CheckAuthServlet</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>ideasexchange</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CheckAuth</servlet-name>
		<url-pattern>/checkauth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/favicon.ico</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>ideasexchange</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/error/error403.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error/error404.jsp</location>
	</error-page>

	<error-page>
		<error-code>408</error-code>
		<location>/WEB-INF/jsp/error/error408.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error/error500.jsp</location>
	</error-page>

	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/jsp/error/error503.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/jsp/error/general-error.jsp</location>
	</error-page>
</web-app>
